@model GamePickerModels.Models.GameModel

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">New GameModel</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <div class="border p-3 mt-4">
                <div class="mb-3 row">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Publisher"></label>
                    <input asp-for="Publisher" class="form-control">
                    <span asp-validation-for="Publisher" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="RegularPrice"></label>
                    <input asp-for="RegularPrice" class="form-control">
                    <span asp-validation-for="RegularPrice" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Price50"></label>
                    <input asp-for="Price50" class="form-control">
                    <span asp-validation-for="Price50" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Price100"></label>
                    <input asp-for="Price100" class="form-control">
                    <span asp-validation-for="Price100" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button type="submit" class="btn btn-outline-primary form-control">Update</button>
                    </div>
                    <div class="col-3">
                        <a asp-controller="GameModel" asp-action="Index" class="btn btn-secondary form-control">
                            Return
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
